:root {
    --text-color: #8f95a5;
    --logo-color: #939393;
    --title-color: #000;
    --link-color: #263238;
    --link-subtitle: #2a3246;
    --price-subtitle: #263238;
    --price-period: #546269;
    --btn-color: #fff;
}

body {
    font-family: Poppins;
    color: var(--title-color);
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
}
.conteiner{
    width: 1368px;
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

/* header */
.header-logo {
    color: var(--logo-color);
}
.header-logo span {
    color: var(--title-color);
}
.header-link {
    color: var(--link-color);
    font-size: 20px;
    font-weight: 500;
}

.header-button {
    font-size: 24px;
}
/* hero */
.hero-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.25;

}

.hero-text {
    color: var(--text-color);
    font-size: 24px;
}

.hero-button {
    color: var(--btn-color);
}
/* skills */
.skills-title {
    font-weight: 600;
    line-height: 1.67;

}

.skills-subtitle {
    color: var(--link-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 3.64;

}

.skills-paragraph {
    color: var(--text-color);

    font-size: 14px;
}

.skills-but {
    color: var(--btn-color);
    font-size: 18px;
    font-weight: 500;
}
/* about */
.about-title {
    font-weight: 600;
    line-height: 1.67;

}

.about-paragraph {
    color: var(--text-color);
    font-size: 16px;
}

.about-subtitle {
    color: var(--link-subtitle);
    font-size: 30px;
    font-weight: 600;
    line-height: 2.67;

}

.about-information {
    color: var(--text-color);
    font-size: 20px;
}
/* price */
.pricing-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.67;

}

.pricing-subtitle {
    color: var(--price-subtitle);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.6;

}

.pricing-desc {
    color: var(--text-color);
    font-size: 20px;
}

.pricing-money {
    color: var(--price-subtitle);
    font-size: 30px;
    line-height: 1.29;
}

.pricing-period {
    color: var(--price-period);
    font-size: 18px;
}

/* contact */
.contact-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.67;
}

.contact-paragraph {
    color: var(--text-color);
    font-size: 20px;
}

.contact-input::placeholder {
    color: var(--text-color);
    font-size: 16px;
}


.contact-btn {
    color: var(--btn-color);
    font-size: 20px;
    font-weight: 500;
}

/* footer */
.footer-link span {
    color: var(--logo-color);
}

.footer-link {
    color: var(--title-color);
}

.footer-paragraph {
    color: var(--text-color);
    font-size: 24px;
}