/* hero */
.hero {
    padding-bottom: 163px;
}

.hero-title-box {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.hero-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.25;

}
.hero-container{
    @include flex-position(57px);
}
.hero-text {
    color: $text-color;
    font-size: 24px;
}

.hero-button {
    color: $btn-color;
    border-radius: 15px;
width: 438px;
height: 118px;
background: #263238;
font-weight: 400;
font-size: 36px;
margin-top: 71px;
}

.hero-girl {
    
}