/* price */
.pricing-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.67;

}

.pricing-subtitle {
    color: $price-subtitle;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.6;

}

.pricing-desc {
    color: $text-color;
    font-size: 20px;
}

.pricing-money {
    color: $price-subtitle;
    font-size: 30px;
    line-height: 1.29;
}

.pricing-period {
    color: $price-period;
    font-size: 18px;
}
.pricing-list{
    @include flex-position(50px);
}
.pricing-item{
    max-width: 400px;
}