/* header */
.header {
    padding-top: 55px;
    padding-bottom: 101px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    color: $logo-color;
    margin-right: 253px;
}
.header-logo span {
    color: $title-color;
}
.header-link {
    color: $link-color;
    font-size: 20px;
    font-weight: 500;
}
.header-list{
    @include flex-position(35px);

}
.header-button {
    font-size: 24px;
    margin-left: auto;
    border: 2px solid #263238;
border-radius: 5px;
width: 220px;
height: 70px;
background: transparent;
}