
body {
    font-family: Poppins;
    color: $title-color;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
}
.container{
    width: 1368px;
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}